<div id="progress_menu">
    <a href="javascript: navigation_click(1)">
        <div class="chevron step_1 current">
            <div class="text">Start</div>
        </div>
    </a>
    <a href="#" onclick="javascript: navigation_click(2)">
        <div class="chevron step_2 not_first next">
            <div class="text">My Info</div>
        </div>
    </a>
    <a href="javascript: navigation_click(3)">
        <div class="chevron step_3 not_first next">
            <div class="text">Employment</div>
        </div> 
    </a>
    <a href="javascript: navigation_click(4)">    
        <div class="chevron step_4 not_first next">
            <div class="text">Education</div>
        </div>    
    </a>
    <a href="javascript: navigation_click(5)">        
        <div class="chevron step_5 not_first next">
            <div class="text">Legal</div>
        </div>       
    </a>
    <a href="javascript: navigation_click(6)">
        <div class="chevron step_6 not_first next">
            <div class="text">Background</div>
        </div>       
    </a>
    <a href="javascript: navigation_click(7)">    
        <div class="chevron step_7 not_first next">
            <div class="text">References</div>
        </div>       
    </a>

</div>