@model Gov.Dva.Ogc.Data.Accreditation.Web.Model.WebForm21aServiceDate

@{
    Layout = null;
}

<div class="form-group">
          
    @Html.TextBoxFor(model => model.StartServiceDate, new { @class = "form-control" })
</div>
